:root{
  --background-color: rgb(182, 182, 182);
  --primary: rgb(255, 255, 255);
  --secondary: rgb(104, 6, 104);
  --bottom-line: rgb(228, 228, 228);
  --success:rgb(17, 129, 17);
  --error: rgb(192, 15, 15);
}