.login-container {
  display: grid;
  width: 400px;
  margin: 10px;
  background-color: white;
  grid-template-rows: repeat(2, 1fr);
}

.upper-login-container {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr, 75px, 75px, 20px;
  align-items: flex-start;
  justify-content: center;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
}

.login-title-welcometext {
  margin-bottom: 20px;

}

.login-title-welcometext p {
  font-size: 12px;
}

.login-input-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.login-input-box p {
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.input-box{
  position: relative;
  right: 15px;
  height: 12px;
  outline: none;

  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: purple;
  
  
}

.forgot-password{
  justify-self: end;
}

.forgot-password p{
  font-size: 11px;
  margin-bottom: 0px;
  color: purple;
  cursor: pointer;
}



.lower-login-container {
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(2, 50px);

}

.first-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.remember-me {
  font-family: Roboto;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.remember-me input {
  outline: none;
}

.remember-me p{
  display: inline;
}

.log-in-button-container button {
  background-color: purple;
  color: white;

  font-size: 10px;

  padding: 4px 7px;
  border: none;
  border-radius: 5px;
}

.log-in-button-container:hover button{
  cursor: pointer;
}

.dont-have-account-container{
  justify-self: center;
}

.dont-have-account-container p, .dont-have-account-container span{
  font-size: 11px;
}

.dont-have-account-container span{
  color: purple;
  font-weight: 500;
}
.dont-have-account-container:hover span{
  cursor: pointer;
}