.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
  flex-direction: row;
  
  border-radius: 3px;
}

.login-container {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 30px;
  width: 600px;
}

.login-credential-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(219, 219, 219);
}

.other-container{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}

.remember-me-container {
  margin-right: 150px;
}

.design-container {
  background-color: rgb(116, 9, 116);
  color: white;
}